html {
  font-size: $html-size-base;
}

.page {
  min-width: $screen-sm;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color:$color-main;
}

.page__slogan{
  @include container;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.0rem;
  color: $color-main;
}
