.contacts {
  padding-top: 45px;
}

.contacts__title {
  font-size: 2.4rem;
  font-weight: 300;

  margin-bottom: 40px;

  text-align: center;

  color: $color-main;

  @include container;
}

.contacts__items {
  padding: 0;

  list-style: none;

  text-align: center;

  @include container;
}

.contacts__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 40px;
  }
}

.contacts__item-title {
  font-size: 1.8rem;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 10px;

  text-transform: capitalize;

  color: $color-main;
}

.contacts__item-content {
  font-size: 2.4rem;

  color: $color-highlight;

  &--phone {
    text-transform: uppercase;
  }
}

.contacts__map {
  height: 200px;
}

@media (min-width: $screen-tablet) {

  .contacts__items {
    font-size: 0;
  }

  .contacts__item {
    display: inline-block;

    width: 50%;

    vertical-align: top;
  }

  .contacts__map {
    height: 380px;
  }
}

@media (min-width: $screen-large) {

  .contacts__items {
    @include clearfix;
  }

  .contacts__item {
    float: left;

    width: 32%;
  }

  .contacts__item--phone {
    float: left;
  }

  .contacts__item--email {
    float: right;
  }

  .contacts__map {
    height: 500px;
  }
}
