.new-photo {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: $color-grey-light;
}

.new-photo__slogan {
  padding-top: 45px;
  padding-bottom: 45px;
}

.new-photo__img {
  @include container;
  margin-bottom: 42px;
}

.new-photo__proc {
  @include container;
}