.page-footer {
  padding-top: 40px;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__socials {
  margin-bottom: 39px;
}

.page-footer__credentials {
  text-align: center;

  @include container;
}

.page-footer__credentials-text,
.page-footer__credentials-logo {
  display: inline-block;

  vertical-align: middle;
}
