.proc-photo__opts {
  font-size: 0;
  line-height: 44px;

  min-height: 44px;

  text-align: center;
}

.proc-photo__opt {
  display: inline-block;

  margin-bottom: 40px;

  vertical-align: middle;

  &--size {
    width: 44px;
    height: 44px;
    margin-right: 34px;
  }

  &--color {
    width: 48px;
    height: 43px;
    margin-right: 40px;
  }

  &--bright {
    width: 32px;
    height: 32px;
  }
}

.proc-photo__range {
  width: 100%;
  margin-bottom: 28px;
}

.proc-photo__btns {
  padding-top: 38px;

  border-top: 1px solid #dddfe0;
}

.proc-photo__btn {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;

  display: block;

  padding-top: 15px;
  padding-bottom: 17px;

  color: $color-highlight;
  border-width: 3px;
  border-style: solid;
  border-radius: 27px;
  background-color: transparent;

  @include container;

  &--post {
    margin-bottom: 12px;

    border-color: $color-highlight;
  }

  &--cancel {
    margin-bottom: 0;

    opacity: 0.1;
    border-color: $color-main;
  }
}
