.slider {
    position: relative;

    padding-bottom: 50px;

    input[type='radio'] {
        display: none;
    }
}

.slider__controls {
    font-size: 0;
    line-height: 12px;

    padding: 0;

    list-style: none;
}

.slider__controls-item {
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 13px;

    vertical-align: middle;

    opacity: 0.3;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: $color-main;

    &:last-child {
        margin-right: 0;
    }
}

.slider__inner {
    @include container;
}

.slider__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 62px;
    height: 12px;
    margin: 0 auto;
    /**/

    outline: 1px solid red;
}

.slider__item {
    display: none;

    min-height: 240px;
}
