.socials {
  font-size: 0;
  line-height: 51px;

  min-height: 51px;
  padding: 0;

  list-style: none;

  text-align: center;
}

.socials__item {
  display: inline-block;

  margin-right: 12px;

  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;

    width: 45px;
    height: 45px;

    opacity: 0.1;
    border: 3px solid $color-main;
    border-radius: 50%;
  }
}
