.user-post {
  margin-bottom: 20px;
  padding-bottom: 26px;

  background-color: $color-grey-light;

  &--best {
    width: $screen-mobile;
    margin-right: auto;
    margin-left: auto;
  }

  &--regular {
    @include container;
  }
}

.user-post__info {
  @include container;
}

.user-post__photo {
  width: 100%;
  height: 132px;
  margin-bottom: 22px;

  background-image: url('http://placehold.it/320x132');
  background-position: bottom center;
}

.user-post__header {
  line-height: 2.4rem;
  /**/

  outline: 1px solid red;
}

.user-post__author {
  font-size: 1.4rem;
  font-weight: 700;

  display: inline-block;

  margin: 0;

  vertical-align: bottom;

  color: $color-main;
  /**/
  outline: 1px solid blue;
}

.user-post__time {
  font-size: 1.2rem;
  font-weight: 300;

  display: inline-block;

  vertical-align: bottom;

  color: $color-main;
  /**/
  outline: 1px solid orange;
}

.user-post__text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;

  margin-top: 5px;
  margin-bottom: 10px;

  color: $color-main;
}

.user-post__vote {
  font-size: 0;
  line-height: 2.4rem;
}

.user-post__vote-btn {
  font-size: 0;

  display: inline-block;

  width: 13px;
  height: 12px;
  margin-right: 19px;

  vertical-align: middle;

  border: none;
  outline: none;
  background-color: red;
}

.user-post__vote-count {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.4rem;

  display: inline-block;

  vertical-align: middle;
  text-transform: uppercase;

  color: $color-highlight;
}
